<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Personal Portfolio Website Design | NimiK</title>
    
    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- custom css -->
    <link rel="stylesheet" href="/static/css/Style.css">
</head>
<body>

<!-- header design -->
<header class="header">
    
    <a href="#" class="logoo">Portfolio</a>
    <i class="bx bx-menu" id="menu-icon"></i>
        <nav class="navbar">
            <a href="#home" class="active"> Home </a>
            <a href="#about">About</a>
            <a href="#services">Services </a>
            <a href="#portfolio" >Portfolio</a>
            <a href="#contact">Contact</a>
        </nav>
        
    </header>

<!--  home section -->
    <Section class="home" id="home">
        <div class="home-content">
            <h3>Hello! Its Me</h3>
            <h1>Nimra Khalid</h1>
            <H3>And I'm a <span class="multiple-text"></sapn></H3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
                aspernatur placeat architecto amet laudantium id.</p>

            <div class="social-media">
            
                <a href="https://www.facebook.com/"><i class='bx bxl-facebook' ></i></a>
                <a href="https://www.twitter.com/"><i class='bx bxl-twitter'></i></a>
                <a href="https://www.linkedin.com/"><i class='bx bxl-linkedin'></i></a>
                <a href="https://www.instagram.com"><i class='bx bxl-instagram-alt'></i></a>
                
            </div>
            <!-- Add this button to your HTML -->
            
            <button class="btn" onclick="downloadImage()">Download Image</button>

        </div>

        <div class="home-img">
            <img src="/static/img/profile.jpg" alt="">
        </div>
    </section>           
        
<!-- about section -->
<section class="about" id="about">
    <div class="about-img">
        <img src="/static/img/profile.jpg" alt="">
    </div>
        <div class="about-content">
            <h2 class="heading">About<span> Me</span></h2>
            <h3>FrontEnd Developer</h3>
            <p>
                Become a frontend developer by learning HTML, CSS,
                and JavaScript for web page structure, styling, and interactivity. 
                Master responsive design and popular frameworks like React or Angular. 
                Build a portfolio, stay updated,
                and seek employment to grow your skills and career.</p>
            <a href="#" class="btn">Read More</a>
        </div>        
   
</section>

<!-- Services section-->

<section class="services" id="services">
    <h2 class="heading">Our <Span>Services</Span></h2>
    <div class="services-container">
            <div class="Services-box">
                <i class="bx bx-code-alt"></i>
                <h3>Web Developer</h3>
                <p>A web developer is a professional who designs and builds 
                    websites and web applications. They use coding languages 
                    like HTML, CSS, JavaScript, and frameworks to create functional 
                    and user-friendly online experiences.</p>
                    <a href="#" class="btn">Read More</a>    
            </div>
        

            <div class="Services-box">
                <i class="bx bxs-paint"></i>
                <h3>Graphic Design</h3>
                <p>
                    A graphic designer is a professional who creates visual 
                    content to convey messages. They design logos, websites, 
                    and marketing materials, 
                    playing a vital role in visual branding.</p>
                    <a href="#" class="btn">Read More</a>
            </div>

            <div class="Services-box">
                <i class="bx bx-bar-chart-alt"></i>
                <h3>Django Developer</h3>
                <p>A Django developer is a skilled professional who 
                    specializes in using the Django framework to create 
                    web applications. They build robust and secure web solutions, 
                    leveraging Django's capabilities..</p>
                    <a href="#" class="btn">Read More</a>
            </div>
    </div>

</section>

<!-- portfolio section design -->
<section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Project</span></h2>

    <div class="portfolio-container">
        <div class="portfolio-box">
        <img src="/static/img/portfolio1.jpg" alt="">
            <div class="portfolio-layer">
            <h4>Web Design </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ratione.</p>
            <a href="#"><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="/static/img/portfolio2.jpg" alt="">
            <div class="portfolio-layer">
                <h4>Web Design </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ratione.</p>
                <a href="#"><i class="bx bx-link-external"></i></a>
            </div>
        </div>

            <div class="portfolio-box">
                <img src="/static/img/portfolio3.jpg" alt="">
                <div class="portfolio-layer">
                    <h4>Web Design </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ratione.</p>
                    <a href="#"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="/static/img/portfolio4.jpg" alt="">
                    <div class="portfolio-layer">
                    <h4>Web Design </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ratione.</p>
                    <a href="#"><i class="bx bx-link-external"></i></a>
                    </div>
                </div>
        
                <div class="portfolio-box">
                    <img src="/static/img/portfolio1.jpg" alt="">
                    <div class="portfolio-layer">
                        <h4>Web Design </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ratione.</p>
                        <a href="#"><i class="bx bx-link-external"></i></a>
                    </div>
                </div>
               <div class="portfolio-box">
                <img src="/static/img/portfolio2.jpg" alt="">
                    <div class="portfolio-layer">
                        <h4>Web Design </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ratione.</p>
                        <a href="#"><i class="bx bx-link-external"></i></a>
                    </div>
                </div>
    </div>
</section>

<!--contact section design-->
<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me</span></h2>

    <form action="#">
        <div class="input-box">
            <input type="text" placeholder="Full name">
            <input type="email" placeholder="email Address">
        </div>
        <div class="input-box">
            <input type="Number" placeholder="Text Number">
            <input type="text" placeholder="email subject">
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="Your Massage"></textarea>
        <input type="submit" placeholder="Send Massage" class="btn">
    </form>
</section>

<!--footer design-->
<footer class="footer">
    <div class="footer-text">
        <p>
        &copy; 2023 Your Company. All rights reserved by Nimra Khalid.
        </p>
    </div>
    <div class="footer-icon-top">
        <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
    </div>
</footer>

<!----typed js---->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>


<!---- scroll reveal ---->
    <script src="https://unpkg.com/scrollreveal"></script>

<!--- custom js --->
    <script src="/static/js/script.js"></script>

</body>
</html>







